<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>FaceTrack - System Admin Dashboard</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../static/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../static/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../static/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/assets/img/favicon.ico'/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">

        <!-- Header Component -->
        {% include 'systemadmin/sidebar.html' %}

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="row">
                    <!-- INSTITUTES CARD -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                            <div class="card-content">
                                                <h5 class="font-15">Institutes</h5>
                                                <h2 class="mb-3 font-18">{{ total_institutes }}</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                            <div class="banner-img">
                                                <img src="../../static/assets/img/banner/1.png" alt="Institutes Banner">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ROLES CARD -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                            <div class="card-content">
                                                <h5 class="font-15">Roles</h5>
                                                <h2 class="mb-3 font-18">{{ total_roles }}</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                            <div class="banner-img">
                                                <img src="../../static/assets/img/banner/2.png" alt="Roles Banner">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- USERS CARD -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                            <div class="card-content">
                                                <h5 class="font-15">Total Users</h5>
                                                <h2 class="mb-3 font-18">{{ total_users }}</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                            <div class="banner-img">
                                                <img src="../../static/assets/img/banner/3.png" alt="Users Banner">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ATTENDANCE CARD -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="align-items-center justify-content-between">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pr-0 pt-3">
                                            <div class="card-content">
                                                <h5 class="font-15">Attendance</h5>
                                                <h2 class="mb-3 font-18">{{ total_attendance }}</h2>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pl-0">
                                            <div class="banner-img">
                                                <img src="../../static/assets/img/banner/4.png" alt="Attendance Banner">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>User vs Attendance Analytics</h4>
                                <div class="card-header-action">
                                    <div class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="btn btn-warning dropdown-toggle">Options</a>
                                        <div class="dropdown-menu">
                                            <a href="#" class="dropdown-item has-icon"><i class="fas fa-eye"></i>
                                                View</a>
                                            <a href="#" class="dropdown-item has-icon"><i class="far fa-edit"></i> Edit</a>
                                            <div class="dropdown-divider"></div>
                                            <a href="#" class="dropdown-item has-icon text-danger"><i
                                                    class="far fa-trash-alt"></i> Delete</a>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary">View All</a>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div id="chart1"></div>
                                        <div class="row mb-0 mt-4">
                                            <div class="col-lg-4 text-center">
                                                <h5 class="m-b-0">{{ total_users }}</h5>
                                                <p class="text-muted font-14 m-b-0">Total Users</p>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <h5 class="m-b-0">{{ total_institutes }}</h5>
                                                <p class="text-muted font-14 m-b-0">Institutes</p>
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                <h5 class="m-b-0">{{ total_attendance }}</h5>
                                                <p class="text-muted font-14 m-b-0">Total Attendance Records</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="row mt-5">
                                            <div class="col-7 col-xl-7 mb-3">Users</div>
                                            <div class="col-5 col-xl-5 mb-3">
                                                <span class="text-big">{{ total_users }}</span>
                                            </div>
                                            <div class="col-7 col-xl-7 mb-3">Institutes</div>
                                            <div class="col-5 col-xl-5 mb-3">
                                                <span class="text-big">{{ total_institutes }}</span>
                                            </div>
                                            <div class="col-7 col-xl-7 mb-3">Roles</div>
                                            <div class="col-5 col-xl-5 mb-3">
                                                <span class="text-big">{{ total_roles }}</span>
                                            </div>
                                            <div class="col-7 col-xl-7 mb-3">Attendance</div>
                                            <div class="col-5 col-xl-5 mb-3">
                                                <span class="text-big">{{ total_attendance }}</span>
                                            </div>
                                            <div class="col-7 col-xl-7 mb-3">Active Institutes</div>
                                            <div class="col-5 col-xl-5 mb-3">
                                                <span class="text-big">{{ total_institutes }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- card-body -->
                        </div> <!-- card -->
                    </div> <!-- col -->
                </div>

                <div class="row">
                    <!-- Chart 4 -->
                    <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>Institutes vs Attendance</h4>
                            </div>
                            <div class="card-body">
                                <div id="chart4" class="chartsh"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Chart 3 -->
                    <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>User Registration Trends</h4>
                            </div>
                            <div class="card-body">
                                <div id="chart3" class="chartsh"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Chart 2 -->
                    <div class="col-12 col-sm-12 col-lg-4">
                        <div class="card">
                            <div class="card-header">
                                <h4>Monthly Attendance Institute</h4>
                            </div>
                            <div class="card-body">
                                <div id="chart2" class="chartsh"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Settings Component -->
            {% include 'systemadmin/settings.html' %}

        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="../../static/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="../../static/assets/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Template JS File -->
<script src="../../static/assets/js/scripts.js"></script>

<script>
    function renderChart() {
        var options = {
            chart: {
                height: 230,
                type: "line",
                shadow: {
                    enabled: true,
                    color: "#000",
                    top: 18,
                    left: 7,
                    blur: 10,
                    opacity: 1
                },
                toolbar: {show: false}
            },
            colors: ["#6777ef", "#47c363"],
            dataLabels: {enabled: true},
            stroke: {curve: "smooth"},
            series: [{
                name: "User Registrations",
                data: {{ user_counts | tojson }}
            }, {
                name: "Attendance Records",
                data: {{ attendance_counts | tojson }}
            }],
            grid: {
                borderColor: "#e7e7e7",
                row: {colors: ["#f3f3f3", "transparent"], opacity: 0.5}
            },
            markers: {size: 5},
            xaxis: {
                categories: {{ months | tojson }},
                labels: {style: {colors: "#9aa0ac"}}
            },
            yaxis: {
                title: {text: "Record Count"},
                labels: {style: {colors: "#9aa0ac"}}
            },
            legend: {
                position: "top",
                horizontalAlign: "right",
                floating: true,
                offsetY: -25,
                offsetX: -5
            }
        };
        var chart = new ApexCharts(document.querySelector("#chart1"), options);
        chart.render();
    }


    // ===== Chart 2: Stacked Bar =====
    function chart2() {
        var options = {
            chart: {height: 250, type: 'bar', stacked: true, toolbar: {show: false}},
            series: {{ chart2_series | tojson }},
            xaxis: {
                categories: {{ chart2_categories | tojson }},
                labels: {style: {colors: "#9aa0ac"}}
            },
            plotOptions: {bar: {horizontal: false, columnWidth: '40%'}},
            colors: ['#008FFB', '#00E396', '#FEB019'],
            legend: {position: 'top', show: true},
            fill: {opacity: 1}
        };
        new ApexCharts(document.querySelector("#chart2"), options).render();
    }

    // ===== Chart 3: Multi-Line =====
    function chart3() {
        var options = {
            chart: {height: 250, type: 'line', zoom: {enabled: false}, toolbar: {show: false}},
            stroke: {width: [5, 4, 3], curve: 'smooth', dashArray: [0, 8, 4]},
            dataLabels: {enabled: false},
            series: {{ chart3_series | tojson }},
            colors: ['#6777ef', '#f59e0b', '#47c363'],
            xaxis: {
                categories: {{ chart3_categories | tojson }},
                labels: {style: {colors: "#9aa0ac"}}
            },
            yaxis: {labels: {style: {colors: "#9aa0ac"}}},
            legend: {show: false},
            grid: {borderColor: '#f1f1f1'}
        };
        new ApexCharts(document.querySelector("#chart3"), options).render();
    }

    // ===== Chart 4: Area =====
    function chart4() {
        var options = {
            chart: {height: 250, type: 'area', toolbar: {show: false}},
            colors: ['#999b9c', '#4CC2B0'],
            fill: {colors: ['#999b9c', '#4CC2B0'], opacity: 0.4},
            dataLabels: {enabled: false},
            stroke: {curve: 'smooth'},
            series: {{ chart4_series | tojson }},
            markers: {colors: ['#999b9c', '#4CC2B0']},
            xaxis: {
                categories: {{ chart4_categories | tojson }},
                labels: {style: {colors: "#9aa0ac"}}
            },
            yaxis: {labels: {style: {colors: "#9aa0ac"}}},
            legend: {show: true}
        };
        new ApexCharts(document.querySelector("#chart4"), options).render();
    }

        {#document.addEventListener("DOMContentLoaded", renderChart);#}

    document.addEventListener("DOMContentLoaded", function () {
        renderChart();
        chart2();
        chart3();
        chart4();
    });
</script>
</body>
</html>