<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>FaceTrack - View Roles</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../static/assets/css/app.min.css">
    <link rel="stylesheet" href="../../static/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet"
          href="../../static/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../static/assets/css/components.css">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/assets/img/favicon.ico'/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">

        <!-- Header Component -->
        {% include 'systemadmin/sidebar.html' %}

        <!-- Main Content -->
        <div class="main-content">

            <section class="section">
                <div class="section-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>View Roles</h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-1">
                                            <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th>Action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>System Admin</td>
                                                <td>Manage All System</td>
                                                <td>
                                                    <a href="#" class="btn btn-primary">Permissions</a>
                                                    <a href="#" class="btn btn-info">Update</a>
                                                    <!--                                                    <a href="#" class="btn btn-danger">Delete</a>-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>HR / Academic Admin</td>
                                                <td>Manage Employee Panel</td>
                                                <td>
                                                    <a href="#" class="btn btn-primary">Permissions</a>
                                                    <a href="#" class="btn btn-info">Update</a>
                                                    <a href="#" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Employee</td>
                                                <td>View Employee Panel</td>
                                                <td>
                                                    <a href="#" class="btn btn-primary">Permissions</a>
                                                    <a href="#" class="btn btn-info">Update</a>
                                                    <a href="#" class="btn btn-danger">Delete</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <!-- Settings Component -->
            {% include 'systemadmin/settings.html' %}

        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="../../static/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="../../static/assets/bundles/datatables/datatables.min.js"></script>
<script src="../../static/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script src="../../static/assets/bundles/jquery-ui/jquery-ui.min.js"></script>
<!-- Page Specific JS File -->
<script src="../../static/assets/js/page/datatables.js"></script>
<!-- Template JS File -->
<script src="../../static/assets/js/scripts.js"></script>

</body>
</html>