<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>FaceTrack - HR</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../static/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../static/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../static/assets/css/custom.css">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/assets/img/favicon.ico'/>
</head>

<body>
<div class="loader"></div>
<div id="app">
    <div class="main-wrapper main-wrapper-1">

        <!-- Header Component -->
        {% include 'hr/sidebar.html' %}

        <!-- Main Content -->
        <div class="main-content">
            <section class="section">
                <div class="row">

                    <!-- TOTAL ADMIN -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="row">
                                    <div class="col-lg-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Admin</h5>
                                            <h2 class="mb-3 font-18">{{ total_hr }}</h2>
                                            <p class="mb-0"><span class="col-green">{{ active_hr }}</span> Active</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pl-0">
                                        <div class="banner-img">
                                            <img src="../../static/assets/img/banner/5.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TOTAL EMPLOYEE -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="row">
                                    <div class="col-lg-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Employee</h5>
                                            <h2 class="mb-3 font-18">{{ total_employee }}</h2>
                                            <p class="mb-0"><span class="col-green">{{ active_employee }}</span> Active
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pl-0">
                                        <div class="banner-img">
                                            <img src="../../static/assets/img/banner/6.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TODAY PRESENT / ABSENT -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="row">
                                    <div class="col-lg-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Today Present</h5>
                                            <h2 class="mb-3 font-18">{{ today_present }}</h2>
                                            <p class="mb-0"><span class="col-green">{{ today_absent }}</span> Absent</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pl-0">
                                        <div class="banner-img">
                                            <img src="../../static/assets/img/banner/7.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MONTHLY HOLIDAYS -->
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="card">
                            <div class="card-statistic-4">
                                <div class="row">
                                    <div class="col-lg-6 pr-0 pt-3">
                                        <div class="card-content">
                                            <h5 class="font-15">Total Holiday</h5>
                                            <h2 class="mb-3 font-18">{{ total_holiday_month }}</h2>
                                            <p class="mb-0"><span class="col-green">{{ total_holiday_month }}</span>
                                                This Month</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 pl-0">
                                        <div class="banner-img">
                                            <img src="../../static/assets/img/banner/4.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WEEKLY CHART -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Weekly Attendance Analytics</h4>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div id="chart1"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- MONTHLY CHART -->
                <div class="row">
                    <div class="col-12 col-sm-12 col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Monthly Attendance Analytics</h4>
                            </div>

                            <div class="card-body">
                                <div class="col-lg-12">
                                    <div id="chart2"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <!-- Settings Component -->
            {% include 'hr/settings.html' %}

        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="../../static/assets/js/app.min.js"></script>
<!-- JS Libraies -->
<script src="../../static/assets/bundles/apexcharts/apexcharts.min.js"></script>
<!-- Page Specific JS File -->
{#<script src="../../static/assets/js/page/index.js"></script>#}
<!-- Template JS File -->
<script src="../../static/assets/js/scripts.js"></script>

<script>
    /* ==========================
    WEEKLY CHART
 ========================== */
    var weeklyOptions = {
        chart: {
            height: 350,
            type: 'bar',
            zoom: {enabled: false}
        },
        series: [{
            name: "Present",
            data: {{ present_data|tojson }}
        }, {
            name: "Absent",
            data: {{ absent_data|tojson }}
        }],
        xaxis: {
            categories: {{ labels|tojson }}
        },
        stroke: {
            curve: 'smooth',
            width: 3
        }
    };

    var chart1 = new ApexCharts(document.querySelector("#chart1"), weeklyOptions);
    chart1.render();


    /* ==========================
       MONTHLY CHART
    ========================== */
    var monthlyOptions = {
        chart: {
            height: 300,
            type: 'line',
            zoom: {enabled: false}
        },
        series: [{
            name: "Present",
            data: {{ month_present_data|tojson }}
        }, {
            name: "Absent",
            data: {{ month_absent_data|tojson }}
        }],
        xaxis: {
            categories: {{ month_labels|tojson }}
        },
        stroke: {
            curve: 'smooth',
            width: 4
        }
    };

    var chart2 = new ApexCharts(document.querySelector("#chart2"), monthlyOptions);
    chart2.render();

</script>
</body>

</html>